{% extends "AdoptMe/base.html" %}

{% block main %}
    <h1>Mis Post</h1>

    {% if not posts %}
    <h2>No hay Post</h2>
    {% endif %}

    <ul>
    {% for post in object_list %}
    <li>
        {{post}} 
        <a href="{% url 'post-detail' post.id %}"> Detalle</a>
        {% if user.is_authenticated and post.editor == user %}
            <a href="{% url 'post-update' post.id %}"> Actualizar</a>
            <a href="{% url 'post-delete' post.id %}"> Borrar</a>
        {% endif %}
    </li>
    {% endfor %}
    </ul>

{% endblock %}